<% if current_admin %>
  <%= link_to "New journal", new_journal_path, class: "new-journal-link" %>
<% end %>

<% @journals_by_year.each do |year, journals| %>
  <details class="journal-year-group" open>
    <summary class="journal-year-title"><%= year || "Sem Data" %></summary>

    <div class="journal_cards">
      <% journals.each do |journal| %>
        <%= link_to journal_path(journal), class: "journal_card" do %>
          <div class="journal_card-wrapper">
            <% if journal.cover_image_url.present? %>
              <%= image_tag url_for(journal.cover_image_url), class: "cover_image_url" %>
            <% else %>
              <div class="default-image">No image</div>
            <% end %>

            <div class="journal_card-subtitle">
              <em><%= journal.subtitle.gsub(/<\/?em>/, '') %></em>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </details>
<% end %>
