<!DOCTYPE html>
<html>
  <head>
    <title>Fugifala</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= controller.controller_name %> <%= controller.action_name %>">
    <% if controller_name == "journals" %>
      <nav class="navbar">
        <div class="nav_width">
          <%= link_to root_path, class: "logo nav_link" do %>
            <div class="title_block">
              <p class="journal_label">Jorn<span>al</span></p>
              <h1 class="journal_title"> FUGI<em>FALA</em></h1>
            </div>
          <% end %>

          <div class="nav_items">
            <%= link_to "jornais", journals_path, class: "nav_item journals #{'active' if controller_name == 'journals' && action_name == 'index'}" %>
            <a href="https://www.zmacar.com/" target="_blank" class="nav_item nav_link">Zmacar</a>
          </div>
        </div>
      </nav>

      <main class="container">
        <%= yield %>
      </main>
    <% else %>
      <%= yield %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
